:root {
  --color-text-primary: #212529;
  --color-text-secondary: #495057;

  --color-surface: #ffffff;
  --color-background-subtle: #f8f9fa;
  --color-border-subtle: #e9ecef;

  --color-light-gray: #dcd4de;

  --color-purple: #5f3196;

  --color-green: #1a8754;
  --color-green-light: #f4f9f6;

  --color-red: #dc3545;
  --color-red-light: #fef5f6;

  --color-orange: #fd7e14;

  --color-yellow: #ffc008;
}
